@if (tree.kind == 'CommentTreeUndecided') {
  <app-comment-tree-undecided [path]="[]" (treeEvent)="treeEvent.emit($event)"
    [data]="tree" [originalCreator]="originalCreator" [readOnly]="readOnly" />
}
@if (tree.kind == 'CommentTreeLeaf') {
  <app-comment-tree-leaf [path]="[]" (treeEvent)="treeEvent.emit($event)"
    [data]="tree" [readOnly]="readOnly" />
}
@if (tree.kind == 'CommentTreeGrid') {
  <app-comment-tree-grid [path]="[]" (treeEvent)="treeEvent.emit($event)"
    [data]="tree" [originalCreator]="originalCreator" [readOnly]="readOnly" />
}
