
@switch (data.content.kind) {
  @case ('Text') {
    <app-comment-tree-text [data]="data.content" [path]="path"
      (treeEvent)="treeEvent.emit($event)" [readOnly]="readOnly" />
  }
  @case ('Bracket') {
    <app-comment-tree-bracket />
  }
  @case ('Notes') {
    <app-comment-tree-notes [data]="data.content" [path]="path"
      (treeEvent)="treeEvent.emit($event)" [readOnly]="readOnly" />
  }
}
@if (!readOnly) {
  <app-comment-tree-action-dot [supportsSettingContext]="supportsSettingContext()" [path]="path" [data]="data"
    (treeEvent)="treeEvent.emit($event)" />
}
